*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    text-transform: uppercase;

}

.navbar-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    border: 2px solid red;

}

.navbar-right {
    border: 2px solid turquoise;
}

/* MEDIA QUERIES */
/* MEDIA QUERIES */