*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "SofiaPro-Black", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.navbar {
    font-size: .700rem;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    text-transform: uppercase;
    background: #0065c3;
    color: white;

}

.navbar-item {
    /* border: 2px solid yellow; */
    padding-left: 20px;
    margin-right: 25px;


}

.navbar-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    /* border: 2px solid red; */
    cursor: pointer;
    padding: 10px;
    font-weight: 400;

}

.navbar-right {
    border: 2px solid turquoise;
}

/* MEDIA QUERIES */

/* MEDIA QUERIES */